<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 分页插件 -->
<plugins>
	<plugin interceptor="com.github.pagehelper.PageInterceptor">
	<!--分页合理化参数, 页数少于1时会自动访问第一页,超过 总页数时自动访问最后一页  -->
		<property name="reasonable" value="true" />
	</plugin>
</plugins>


</configuration>